<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <img class="u-photo" src="{{ site.baseurl }}/assets/images/avatar.jpg">
            <h1>
                <a href="{{ site.baseurl }}">
                    {{ site.name }}
                </a>
            </h1>
            <p class="lead">{{ site.description }}</p>
        </div>

        <nav class="sidebar-nav">
            <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>
            <a class="sidebar-nav-item" href="{{ site.baseurl }}/education/">Education</a>
            <a class="sidebar-nav-item" href="{{ site.baseurl }}/workexperience/">Work Experience</a>
            <a class="sidebar-nav-item" href="{{ site.baseurl }}/projects/">Projects</a>
            <a class="sidebar-nav-item" href="{{ site.baseurl }}/skills/">Skills</a>
            <a class="sidebar-nav-item" href="{{ site.baseurl }}/recognitions/">Recognitions</a>
        </nav>

        <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    </div>
</div>
