---
layout: default
---
<head>
  <link href="/assets/css/poole.css" rel="stylesheet">
  <link href="/assets/css/syntax.css" rel="stylesheet">
  <link href="/assets/css/hyde.css" rel="stylesheet">
</head>
<div class="page">
    <h1 class="page-title">{{ page.title }}</h1>
    {{ content }}
</div>
