---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
{% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
{% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
{% unless paginator %}
{% include breadcrumbs.html %}
{% endunless %}
{% endif %}
<div id="main" role="main">


    <article class="page" itemscope itemtype="https://schema.org/CreativeWork">
        {% if page.title %}
        <meta content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}" itemprop="headline">
        {% endif %}
        {% if page.excerpt %}
        <meta content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}"
              itemprop="description">
        {% endif %}
        {% if page.date %}
        <meta content="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% endif %}
        {% if page.last_modified_at %}
        <meta content="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">
        {% endif %}

        <div class="page__inner-wrap">
            {% unless page.header.overlay_color or page.header.overlay_image %}
            <header>
                {% if page.title %}
                <h1 class="page__title" id="page-title" itemprop="headline">{{ page.title | markdownify | remove: "<p>"
                    | remove: "</p>" }}
                </h1>
                {% endif %}
                {% if page.read_time %}
                <p class="page__meta"><i aria-hidden="true" class="far fa-clock"></i> {% include read-time.html %}</p>
                {% endif %}
            </header>
            {% endunless %}

            <section class="page__content" itemprop="text">
                {% if page.toc %}
                <aside class="sidebar__right {% if page.toc_sticky %}sticky{% endif %}">
                    <nav class="toc">
                        <header><h4 class="nav__title"><i class="fas fa-{{ page.toc_icon | default: 'file-alt' }}"></i>
                            {{ page.toc_label | default: site.data.ui-text[site.locale].toc_label | default: "On this
                            page" }}</h4></header>
                        {% include toc.html sanitize=true html=content h_min=1 h_max=6 class="toc__menu" %}
                    </nav>
                </aside>
                {% endif %}
                {{ content }}
                {% if page.link %}
                <div><a class="btn btn--primary" href="{{ page.link }}">{{ site.data.ui-text[site.locale].ext_link_label
                    | default: "Direct Link" }}</a></div>
                {% endif %}
            </section>

            <footer class="page__meta">
                {% if site.data.ui-text[site.locale].meta_label %}
                <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
                {% endif %}
                {% include page__taxonomy.html %}
                {% if page.last_modified_at %}
                <p class="page__date"><strong><i aria-hidden="true" class="fas fa-fw fa-calendar-alt"></i> {{
                    site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong>
                    <time %Y-%m-%d datetime="{{ page.last_modified_at | date: "
                    " }}">{{ page.last_modified_at | date: "%B %-d, %Y" }}</time></p>
                {% elsif page.date %}
                <p class="page__date"><strong><i aria-hidden="true" class="fas fa-fw fa-calendar-alt"></i> {{
                    site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong>
                    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}</time>
                </p>
                {% endif %}
            </footer>

            {% if page.share %}{% include social-share.html %}{% endif %}

            {% include post_pagination.html %}
        </div>

        {% if jekyll.environment == 'production' and site.comments.provider and page.comments %}
        {% include comments.html %}
        {% endif %}
    </article>

    {% comment %}<!-- only show related on a post page when `related: true` --> {% endcomment %}
    {% if page.id and page.related and site.related_posts.size > 0 %}
    <div class="page__related">
        <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy"
            }}</h4>
        <div class="grid__wrapper">
            {% for post in site.related_posts limit:4 %}
            {% include archive-single.html type="grid" %}
            {% endfor %}
        </div>
    </div>
    {% comment %}<!-- otherwise show recent posts if no related when `related: true` --> {% endcomment %}
    {% elsif page.id and page.related %}
    <div class="page__related">
        <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy"
            }}</h4>
        <div class="grid__wrapper">
            {% for post in site.posts limit:4 %}
            {% if post.id == page.id %}
            {% continue %}
            {% endif %}
            {% include archive-single.html type="grid" %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
